* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #202020;
  color: #fff;
  padding: 20px 0px 20px 0px;
}

.search {
  width: 300px;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid blueviolet;
  background-color: #202020;
  color: #fff;
  outline: none;
}

.wrapper {
  width: 90%;
  margin: auto;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}

.bigContainer {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}

.container {
  width: 320px;
  height: 550px;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid blueviolet;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 2px solid blueviolet;
}

.title {
  text-align: center;
}

.year {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.submit {
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid blueviolet;
  background-color: #202020;
  color: blueviolet;
}
